/* Clear button in input form */

#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    z-index: 100;
}

img#close-button {
    float: right;
    margin-right: 5px;
}

.btn-danger { border-color: $okm-red; background-color: white; color: $okm-red}
.btn-danger:hover { border-color: white; background-color: $okm-red; color: white }
.btn-danger:active { border-color: white; background-color: $okm-red; color: white }
.btn-danger:focus { border-color: white; background-color: $okm-red; color: white }

.btn-info { border-color: $okm-blue; background-color: white; color: $okm-blue}
.btn-info:hover { border-color: white; background-color: $okm-blue; color: white }
.btn-info:active { border-color: white; background-color: $okm-blue; color: white }
.btn-info:focus { border-color: white; background-color: $okm-blue; color: white }